.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.6),
        rgba($color-primary-dark, 0.6)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);
    position: relative;  /* use for absolute position of the logo */

    &__logo-box {  /* parent is 'header' */
        position: absolute;
        top: 4rem; /* reference is in the parent - header */
        left: 4rem;
    }
    
    &__logo {
        height: 3.5rem;
    }
    
    &__logo:hover {
        animation: moveInRight 2s ease-out; /* can reuse animation on hover events */
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        /* background-color: coral; */ /* use this to see box boundary when adjusting position */
    }

}