.composition {
    position: relative; // so can overlay pictures in the composition block

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;  // relative to top left hand corner of composition block
        z-index: 10; // lower than with hover
        transition: all .2s;
        outline-offset: 2rem;  // gap between border and photo


        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20; // display on top
        }
    }

    &:hover &__photo:not(:hover) { // shrink the photos NOT hovered over
        transform: scale(.95);
    }
} 